
{% extends 'school/base.html'%}
{% load crispy_forms_tags %}
 {% load static %}
 {% block content%}
<div class="animated slideInDown slow-4s card container mt-5 p-4" style="width: 45rem;">
	<div class="text-center"><h5>Change your password here</h5></div>
<form method="POST">
{% csrf_token %}
  {{ form|crispy }}
  <div class="text-center">
      <button type="submit" name="signup_submit" class="animated bounceIn delay-1s btn btn-success"><i class="fa fa-users"></i> Save new  password</button>
  </div>

</form>
</div>
{% endblock content%}

