{% extends 'school/base.html'%}
{% load crispy_forms_tags%}
{% block content %}
<div class="animated slideInDown slow-4s card container mt-5 p-4" style="width: 45rem;">
	  <div class="card-body">
		   <div class="row">
			   <div class="col-md-4">
		  <img class="rounded-circle card-img-top" src="{{ user.profile.image.url }}" style="width:100px;height:100px">
			   </div>
		  <div class="col-md-8">
		  <h4>{{user.username}}</h4>
		  <p class="text-secondary">{{user.email}}</p>
		  </div>
		   </div>
		<form method="POST" enctype="multipart/form-data">
  		{% csrf_token %}
  		<fieldset class="form-group">
  			<legend class="border-bottom mb-4 text-center text-success">Admin Profile Update Form!</legend>
  			{{ u_form|crispy }}
  			{{ p_form|crispy }}
  		</fieldset>
  		<div class="form-group">
  			<button class="animated shake delay-1s btn btn-outline-info" type="submit">Update your Profile</button>
  		</div>
  	    </form><br>
	  <div class="card-footer text-muted ">You can leave your account to default!</div>
		   </div>
</div>
{% endblock content%}
